# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
backend.hcl

# File for setup reference
reference-configs/
export-prod-config.sh

# Variable files with secrets
*.tfvars
!terraform.tfvars.example

# IDE
.vscode/
.idea/
